body {font-family:Arial, Helvetica, sans-serif;}
table.pricelist th, table.pricelist td {
    border: gray thin solid;
    padding: 20px;
}
table.pricelist thead th {
    color: white;
    background-color: grey;
}
table.pricelist tfoot td {
    text-align: right;
    font-style: italic;
    color: green ;
    background-color: black;
    font-size: 20px;
}
table.catalog {
    border-collapse: collapse;
}
table.catalog td {
    border-top: black thin dotted;
    border-bottom: black thin dotted;
    padding: 20px;
}
table.catalog img {
    width: 200px;
}
[for=red] {color: red;}
#red {accent-color: red;}
[for=green] {color: green;}
#green {accent-color: green;}
[for=blue] {color: blue;}
#blue {accent-color: blue;}
.bolded {font-weight: bold;}